<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="js/chartjs-plugin-colorschemes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app" class="ml-2 mt-2 mr-2">
        <div>
            <h4>CSV Charts</h4>
            Client-side page that generates <a href="https://www.chartjs.org/" target="_blank">Chart.js</a> charts from a csv file.<br>
            Get a sample CSV <a href="./sample.csv">here</a>.
            <hr>
        </div>
        <div class="form-group">
            <label for="myfile">Select a CSV file:</label>
            <input type="file" id="myfile" name="myfile" accept="text/csv">
            <button @click="load()" class="btn btn-success">Load</button>
        </div>
        
        <br>
        <div v-if="completed">
            <div class="row">
                <div class="col">
                    <div class="option-title">Data Preview</div>
                    <table class="table">
                        <tr v-for="row in raw">
                            <td v-for="element in row">{{ element }}</td>
                        </tr>
                    </table>
                </div>
                
                <div class="col">
                    <div class="form-group">
                        <div class="option-title">Chart Type</div>
                        <label for="chartType">Select a chart type:</label>
                        <select class="custom-select" v-model="chartType" @change="updateChartType()" id="chartType">
                            <option v-for="chartType in chartDefinition">{{ chartType.title }}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <div class="option-title">Data Options</div>
                        Swap horizontal and vertical axis:
                        <button @click="transpose()" class="btn btn-primary" id="Transpose">Transpose</button><br>
                        
                        <label for="chartType">Choose series:</label>
                        
                        <select class="custom-select" v-model="selected" @change="render()" id="Series">
                            <option selected>Choose a series</option>
                            <option v-for="head in header">{{ head }}</option>
                        </select>
                        
                        <!--select class="custom-select" v-model="selected" @change="render()" id="Series" multiple>
                            <option selected>Choose a series</option>
                            <option v-for="head in header">{{ head }}</option>
                        </select-->
                    </div>
                    
                    <div class="form-group">
                        <div class="option-title">Chart Options</div>
                        
                        <div v-if="activeChartDefinition.hasYAxis">
                            <input type="checkbox" id="beginAtZero" v-model="chartOption_beginAtZero" @change="render()">
                            <label for="beginAtZero">y-axis should begin at zero</label>
                        </div>
                        
                        <div v-if="activeChartDefinition.curve">                            
                            <input type="checkbox" id="curve" v-model="chartOption_curve" @change="render()">
                            <label for="curve">smooth lines</label>
                        </div>
                        
                    </div>
                    
                    <div class="option-title">Chart Preview</div>
                    Export feature is yet to be done. For now, right-click on the canvas and click save image.
                    <canvas id="csv-chart"></canvas>
                </div>
            </div>
        </div>
        
        <span v-else>Choose a CSV file</span>
        
    </div>
    
    <script src="./index.js"></script>
</body>

<style>
    .option-title {
        font-weight: bold;
    }
</style>